In [1]:
import ast
import sys

import geopandas as gpd
import pandas as pd
from sqlalchemy import create_engine, inspect, text

sys.path.append("..")

from scripts import DATA_DIR

In [2]:
# !pip install sqlalchemy psycopg2 geoalchemy2

In [3]:
# Create a connection to the database
DATABASE_URL = "postgresql://devuser:devuser@localhost:5432/local"
engine = create_engine(DATABASE_URL, plugins=["geoalchemy2"])

## ⚠️ Danger zone - wipe the database ⚠️

In [4]:
# ⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️
# ⚠️ Danger zone - wipe the database ⚠️
# ⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️

table_names = [
    table_name
    for table_name in inspect(engine).get_table_names()
    if table_name not in ["cities", "departments"]  # Leave cities and departments untouched
]
# Check row counts in each table
with engine.connect() as conn:
    for table_name in table_names:
        row_count = conn.execute(text(f"SELECT COUNT(*) FROM {table_name}")).one()[0]
        print(f"Number of rows in the {table_name} table: {row_count}")

    print("\nWiping the database...\n")
    truncate_stmt = f"TRUNCATE TABLE {', '.join(table_names)} RESTART IDENTITY CASCADE"
    conn.execute(text(truncate_stmt))
    conn.commit()

    # Check row counts in each table
    for table_name in table_names:
        row_count = conn.execute(text(f"SELECT COUNT(*) FROM {table_name}")).one()[0]
        print(f"Number of rows in the {table_name} table: {row_count}")

Number of rows in the spatial_ref_sys table: 0
Number of rows in the alembic_version table: 0
Number of rows in the user_department table: 0
Number of rows in the clear_cut_ecological_zoning table: 0
Number of rows in the users table: 0
Number of rows in the clear_cuts_reports table: 255651
Number of rows in the ecological_zonings table: 1762
Number of rows in the clear_cuts table: 0

Wiping the database...

Number of rows in the spatial_ref_sys table: 0
Number of rows in the alembic_version table: 0
Number of rows in the user_department table: 0
Number of rows in the clear_cut_ecological_zoning table: 0
Number of rows in the users table: 0
Number of rows in the clear_cuts_reports table: 0
Number of rows in the ecological_zonings table: 0
Number of rows in the clear_cuts table: 0

## Seed the `ecological_zonings` table

In [5]:
# Load the Natura 2000 codes
natura2000_concat = gpd.read_file(DATA_DIR / "natura2000/natura2000_concat.fgb").drop(
    columns="geometry"
)
natura2000_concat = natura2000_concat.rename(columns={"type": "sub_type"})
natura2000_concat["type"] = "Natura 2000"
natura2000_concat

,sub_type,code,name,type
0,SIC,FR9400591,Plateau de Pertusato/ Bonifacio et îles Lavezzi,Natura 2000
1,SIC,FR9402009,Mare temporaire de Musella/Bonifacio,Natura 2000
2,SIC,FR9400608,Mares temporaires du terrain militaire de Fras...,Natura 2000
3,SIC,FR9400592,Ventilegne-la Trinite de Bonifacio-Fazzio,Natura 2000
4,SIC,FR9402015,"Bouches de Bonifacio, Iles des Moines",Natura 2000
...,...,...,...,...
1757,ZPS,FR7212015,Haute Cize : Pic d'Herrozate et forêt d'Orion,Natura 2000
1758,SIC,FR7200753,Forêt d'Iraty,Natura 2000
1759,ZPS,FR7212005,"Haute Soule : forêt d'Iraty, Orgambidexka et P...",Natura 2000
1760,SIC,FR7200756,Montagnes des Aldudes,Natura 2000
1761,ZPS,FR7212012,"Vallée de la Nive des Aldudes, Col de Lindux",Natura 2000

In [6]:
# INSERT them in the database
natura2000_concat.to_sql("ecological_zonings", con=engine, if_exists="append", index=False)

762

In [7]:
# Check the result
pd.read_sql("SELECT * FROM ecological_zonings LIMIT 10", con=engine)

,id,type,sub_type,name,code
0,1,Natura 2000,SIC,Plateau de Pertusato/ Bonifacio et îles Lavezzi,FR9400591
1,2,Natura 2000,SIC,Mare temporaire de Musella/Bonifacio,FR9402009
2,3,Natura 2000,SIC,Mares temporaires du terrain militaire de Fras...,FR9400608
3,4,Natura 2000,SIC,Ventilegne-la Trinite de Bonifacio-Fazzio,FR9400592
4,5,Natura 2000,SIC,"Bouches de Bonifacio, Iles des Moines",FR9402015
5,6,Natura 2000,ZPS,"Iles Lavezzi, Bouches de Bonifacio",FR9410021
6,7,Natura 2000,SIC,"Iles et pointe Bruzzi, étangs de Chevanu et d'...",FR9400609
7,8,Natura 2000,SIC,"Tre Padule de Suartone, Rondinara",FR9400590
8,9,Natura 2000,SIC,Iles Cerbicale et frange littoral,FR9400587
9,10,Natura 2000,ZPS,Iles Cerbicale,FR9410022

## Seed the `clear_cuts_reports` table

In [8]:
# Load our Sufosat enriched dataframe
sufosat = gpd.read_file(DATA_DIR / "sufosat/sufosat_clusters_enriched.fgb")  # , rows=10000)
sufosat

,clear_cut_group,date_min,date_max,days_delta,clear_cut_group_size,concave_hull_score,area_ha,cities,natura2000_area_ha,natura2000_codes,slope_area_ha,geometry
0,0,2018-12-07,2019-02-17,72,13,1.000000,0.520004,['2A041'],0.000000,None,0.000000,"MULTIPOLYGON (((1219789.689 6054526.697, 12197..."
1,1,2019-12-01,2019-12-31,30,6,0.928574,0.520004,['2A041'],0.000000,None,0.000000,"MULTIPOLYGON (((1221859.689 6054536.697, 12218..."
2,239744,2021-02-05,2021-02-05,0,1,1.000000,0.060001,['2A041'],0.000000,None,0.000000,"MULTIPOLYGON (((1221739.689 6054546.697, 12217..."
3,2,2023-06-07,2023-12-05,181,13,1.000000,0.920005,['2A041'],0.000000,None,0.000000,"MULTIPOLYGON (((1221159.688 6055586.697, 12211..."
4,3,2021-01-13,2023-03-15,791,137,0.640423,11.550035,['2A041'],0.000000,None,0.011783,"MULTIPOLYGON (((1219859.689 6055366.697, 12198..."
...,...,...,...,...,...,...,...,...,...,...,...,...
255653,239739,2020-03-13,2021-05-30,443,19,0.605461,1.220009,['64545'],0.000000,None,0.007184,"MULTIPOLYGON (((315009.689 6262906.697, 315009..."
255654,239741,2019-03-25,2021-03-31,737,62,1.000000,4.690016,['64545'],0.000000,None,0.271278,"MULTIPOLYGON (((315369.688 6261636.697, 315369..."
255655,239740,2024-05-03,2024-07-26,84,13,1.000000,1.100006,['64545'],0.000000,None,0.857699,"MULTIPOLYGON (((315689.689 6262016.697, 315689..."
255656,239742,2020-05-12,2021-07-12,426,13,0.748861,0.820007,['64260'],0.820007,['FR7200775'],0.000000,"MULTIPOLYGON (((314999.689 6264926.697, 314999..."
255657,239743,2024-03-11,2024-07-25,136,31,1.000000,1.810011,['64545'],0.000000,None,0.000000,"MULTIPOLYGON (((316729.689 6264726.697, 316729..."

In [9]:
# Retrieve the generated `id` for the `cities` table
city_ids = pd.read_sql(
    "SELECT id AS city_id, zip_code AS city_insee_code FROM cities", con=engine
)
city_ids

       city_id city_insee_code
0            1           01002
1            2           01004
2            3           01005
3            4           01006
4            5           01007
...        ...             ...
37538    37539           97613
37539    37540           97614
37540    37541           97615
37541    37542           97616
37542    37543           97617

[37543 rows x 2 columns]

In [10]:
# TODO: In the dataeng data model, we have several cities that can intersect with a clear-cut
# However, in the backend model we have just one. For now, we arbitrarily take the first one in the list
sufosat["city_insee_code"] = sufosat["cities"].apply(ast.literal_eval).str[0]

In [11]:
# Add the city_id column to our sufosat clear-cuts
length_before_merge = len(sufosat)
sufosat = sufosat.merge(city_ids, on="city_insee_code", how="left")

# TODO: There is a discrepency between the cities codes used in the dataeng pipeline and in the backend
# For example, some in the backend table, some zip_code are associated with multiple city names, e.g.,

#   id	    zip_code    name	        department_id
# 0	13884	34246	    Entre-Vignes	1
# 1	13885	34246	    Saint-Christol	1

# There is also the "01001" insee_code that is missing from the backend table

# For now, to mitigate this,
# we'll drop records with missing city_id and
# we'll drop records that have different city_id for the same insee_code
# Therefore we have to select a city_id randomly because the join causes duplicated records otherwise
sufosat = sufosat.dropna(subset="city_id").drop_duplicates("clear_cut_group")

# Make sure we don't remove too much records
assert sufosat["city_id"].isna().sum() == 0 and len(sufosat) >= length_before_merge - 100

sufosat

,clear_cut_group,date_min,date_max,days_delta,clear_cut_group_size,concave_hull_score,area_ha,cities,natura2000_area_ha,natura2000_codes,slope_area_ha,geometry,city_insee_code,city_id
0,0,2018-12-07,2019-02-17,72,13,1.000000,0.520004,['2A041'],0.000000,None,0.000000,"MULTIPOLYGON (((1219789.689 6054526.697, 12197...",2A041,11349.0
1,1,2019-12-01,2019-12-31,30,6,0.928574,0.520004,['2A041'],0.000000,None,0.000000,"MULTIPOLYGON (((1221859.689 6054536.697, 12218...",2A041,11349.0
2,239744,2021-02-05,2021-02-05,0,1,1.000000,0.060001,['2A041'],0.000000,None,0.000000,"MULTIPOLYGON (((1221739.689 6054546.697, 12217...",2A041,11349.0
3,2,2023-06-07,2023-12-05,181,13,1.000000,0.920005,['2A041'],0.000000,None,0.000000,"MULTIPOLYGON (((1221159.688 6055586.697, 12211...",2A041,11349.0
4,3,2021-01-13,2023-03-15,791,137,0.640423,11.550035,['2A041'],0.000000,None,0.011783,"MULTIPOLYGON (((1219859.689 6055366.697, 12198...",2A041,11349.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267957,239739,2020-03-13,2021-05-30,443,19,0.605461,1.220009,['64545'],0.000000,None,0.007184,"MULTIPOLYGON (((315009.689 6262906.697, 315009...",64545,27356.0
267958,239741,2019-03-25,2021-03-31,737,62,1.000000,4.690016,['64545'],0.000000,None,0.271278,"MULTIPOLYGON (((315369.688 6261636.697, 315369...",64545,27356.0
267959,239740,2024-05-03,2024-07-26,84,13,1.000000,1.100006,['64545'],0.000000,None,0.857699,"MULTIPOLYGON (((315689.689 6262016.697, 315689...",64545,27356.0
267960,239742,2020-05-12,2021-07-12,426,13,0.748861,0.820007,['64260'],0.820007,['FR7200775'],0.000000,"MULTIPOLYGON (((314999.689 6264926.697, 314999...",64260,27071.0
267961,239743,2024-03-11,2024-07-25,136,31,1.000000,1.810011,['64545'],0.000000,None,0.000000,"MULTIPOLYGON (((316729.689 6264726.697, 316729...",64545,27356.0

In [12]:
# Add the "slope_area_ratio_percentage" field
# TODO: This field is a bit confusion, maybe we could use slope_area_ha instead
sufosat["slope_area_ratio_percentage"] = sufosat["slope_area_ha"] / sufosat["area_ha"]
sufosat

,clear_cut_group,date_min,date_max,days_delta,clear_cut_group_size,concave_hull_score,area_ha,cities,natura2000_area_ha,natura2000_codes,slope_area_ha,geometry,city_insee_code,city_id,slope_area_ratio_percentage
0,0,2018-12-07,2019-02-17,72,13,1.000000,0.520004,['2A041'],0.000000,None,0.000000,"MULTIPOLYGON (((1219789.689 6054526.697, 12197...",2A041,11349.0,0.000000
1,1,2019-12-01,2019-12-31,30,6,0.928574,0.520004,['2A041'],0.000000,None,0.000000,"MULTIPOLYGON (((1221859.689 6054536.697, 12218...",2A041,11349.0,0.000000
2,239744,2021-02-05,2021-02-05,0,1,1.000000,0.060001,['2A041'],0.000000,None,0.000000,"MULTIPOLYGON (((1221739.689 6054546.697, 12217...",2A041,11349.0,0.000000
3,2,2023-06-07,2023-12-05,181,13,1.000000,0.920005,['2A041'],0.000000,None,0.000000,"MULTIPOLYGON (((1221159.688 6055586.697, 12211...",2A041,11349.0,0.000000
4,3,2021-01-13,2023-03-15,791,137,0.640423,11.550035,['2A041'],0.000000,None,0.011783,"MULTIPOLYGON (((1219859.689 6055366.697, 12198...",2A041,11349.0,0.001020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267957,239739,2020-03-13,2021-05-30,443,19,0.605461,1.220009,['64545'],0.000000,None,0.007184,"MULTIPOLYGON (((315009.689 6262906.697, 315009...",64545,27356.0,0.005889
267958,239741,2019-03-25,2021-03-31,737,62,1.000000,4.690016,['64545'],0.000000,None,0.271278,"MULTIPOLYGON (((315369.688 6261636.697, 315369...",64545,27356.0,0.057842
267959,239740,2024-05-03,2024-07-26,84,13,1.000000,1.100006,['64545'],0.000000,None,0.857699,"MULTIPOLYGON (((315689.689 6262016.697, 315689...",64545,27356.0,0.779722
267960,239742,2020-05-12,2021-07-12,426,13,0.748861,0.820007,['64260'],0.820007,['FR7200775'],0.000000,"MULTIPOLYGON (((314999.689 6264926.697, 314999...",64260,27071.0,0.000000
267961,239743,2024-03-11,2024-07-25,136,31,1.000000,1.810011,['64545'],0.000000,None,0.000000,"MULTIPOLYGON (((316729.689 6264726.697, 316729...",64545,27356.0,0.000000

In [13]:
# TODO: We also need the created_at, updated_at, and status fields, maybe these could be auto-generated by the database?
sufosat["created_at"] = pd.Timestamp.utcnow()
sufosat["updated_at"] = pd.Timestamp.utcnow()
sufosat["status"] = "to_validate"

In [14]:
# Format our Sufosat dataframe for the clear_cuts_reports table
clear_cuts_reports = sufosat.rename(columns={"clear_cut_group": "id"})[
    ["id", "slope_area_ratio_percentage", "city_id", "created_at", "updated_at", "status"]
]
clear_cuts_reports

,id,slope_area_ratio_percentage,city_id,created_at,updated_at,status
0,0,0.000000,11349.0,2025-04-06 19:13:34.554535+00:00,2025-04-06 19:13:34.555481+00:00,to_validate
1,1,0.000000,11349.0,2025-04-06 19:13:34.554535+00:00,2025-04-06 19:13:34.555481+00:00,to_validate
2,239744,0.000000,11349.0,2025-04-06 19:13:34.554535+00:00,2025-04-06 19:13:34.555481+00:00,to_validate
3,2,0.000000,11349.0,2025-04-06 19:13:34.554535+00:00,2025-04-06 19:13:34.555481+00:00,to_validate
4,3,0.001020,11349.0,2025-04-06 19:13:34.554535+00:00,2025-04-06 19:13:34.555481+00:00,to_validate
...,...,...,...,...,...,...
267957,239739,0.005889,27356.0,2025-04-06 19:13:34.554535+00:00,2025-04-06 19:13:34.555481+00:00,to_validate
267958,239741,0.057842,27356.0,2025-04-06 19:13:34.554535+00:00,2025-04-06 19:13:34.555481+00:00,to_validate
267959,239740,0.779722,27356.0,2025-04-06 19:13:34.554535+00:00,2025-04-06 19:13:34.555481+00:00,to_validate
267960,239742,0.000000,27071.0,2025-04-06 19:13:34.554535+00:00,2025-04-06 19:13:34.555481+00:00,to_validate
267961,239743,0.000000,27356.0,2025-04-06 19:13:34.554535+00:00,2025-04-06 19:13:34.555481+00:00,to_validate

In [15]:
# INSERT them in the database
clear_cuts_reports.to_sql("clear_cuts_reports", con=engine, if_exists="append", index=False)

651

In [16]:
clear_cuts_reports["id"].max()

np.int64(255657)

In [17]:
# Update the sequence for the SERIAL column so that it doesn't generate an ID that already exists
with engine.connect() as conn:
    conn.execute(
        text(
            "SELECT setval('clear_cuts_reports_id_seq', (SELECT MAX(id) FROM clear_cuts_reports))"
        )
    )
    print(conn.execute(text("SELECT currval('clear_cuts_reports_id_seq')")).scalar())

255657

In [18]:
# Check the result
pd.read_sql("SELECT * FROM clear_cuts_reports LIMIT 10", con=engine)

,id,slope_area_ratio_percentage,created_at,updated_at,status,city_id,user_id
0,0,0.000000,2025-04-06 19:13:34.554535,2025-04-06 19:13:34.555481,to_validate,11349,None
1,1,0.000000,2025-04-06 19:13:34.554535,2025-04-06 19:13:34.555481,to_validate,11349,None
2,239744,0.000000,2025-04-06 19:13:34.554535,2025-04-06 19:13:34.555481,to_validate,11349,None
3,2,0.000000,2025-04-06 19:13:34.554535,2025-04-06 19:13:34.555481,to_validate,11349,None
4,3,0.001020,2025-04-06 19:13:34.554535,2025-04-06 19:13:34.555481,to_validate,11349,None
5,4,0.000000,2025-04-06 19:13:34.554535,2025-04-06 19:13:34.555481,to_validate,11349,None
6,5,0.000000,2025-04-06 19:13:34.554535,2025-04-06 19:13:34.555481,to_validate,11349,None
7,6,0.212086,2025-04-06 19:13:34.554535,2025-04-06 19:13:34.555481,to_validate,11349,None
8,7,0.000000,2025-04-06 19:13:34.554535,2025-04-06 19:13:34.555481,to_validate,11349,None
9,239745,0.000000,2025-04-06 19:13:34.554535,2025-04-06 19:13:34.555481,to_validate,11349,None

## Seed the `clear_cuts` table

In [19]:
# Transform Sufosat into the `clear_cuts` table format

# TODO: The CRS of the target table (EPSG:4326) differs from the CRS of current GeoDataFrame (EPSG:2154).
# We should use Lambert93 (EPSG:2154) as it's more accurate for France
sufosat = sufosat.to_crs(4326)

# TODO: representative_point vs centroid?
sufosat["location"] = sufosat.representative_point()

# Since this is the first seed of the database, the clear_cuts_reports.id is equal to clear_cuts.id
sufosat["report_id"] = sufosat["clear_cut_group"]

# Transform Sufosat into the `clear_cuts` table format
clear_cuts = sufosat.rename(
    columns={
        "clear_cut_group": "id",
        "area_ha": "area_hectare",
        # TODO: add ecological_zonings_area_ha here?
        "geometry": "boundary",
        "date_min": "observation_start_date",
        "date_max": "observation_end_date",
        # TODO: add concave_hull_score here?
    }
).set_geometry("boundary")

clear_cuts = clear_cuts[
    [
        "id",
        "area_hectare",
        "location",
        "boundary",
        "created_at",
        "updated_at",
        "observation_start_date",
        "observation_end_date",
        "report_id",
    ]
]
clear_cuts

,id,area_hectare,location,boundary,created_at,updated_at,observation_start_date,observation_end_date,report_id
0,0,0.520004,POINT (9.20492 41.40899),"MULTIPOLYGON (((9.20494 41.40863, 9.20494 41.4...",2025-04-06 19:13:34.554535+00:00,2025-04-06 19:13:34.555481+00:00,2018-12-07,2019-02-17,0
1,1,0.520004,POINT (9.22883 41.40709),"MULTIPOLYGON (((9.22956 41.40726, 9.22956 41.4...",2025-04-06 19:13:34.554535+00:00,2025-04-06 19:13:34.555481+00:00,2019-12-01,2019-12-31,1
2,239744,0.060001,POINT (9.22837 41.40729),"MULTIPOLYGON (((9.22814 41.40743, 9.2285 41.40...",2025-04-06 19:13:34.554535+00:00,2025-04-06 19:13:34.555481+00:00,2021-02-05,2021-02-05,239744
3,2,0.920005,POINT (9.22316 41.41694),"MULTIPOLYGON (((9.22223 41.41715, 9.22223 41.4...",2025-04-06 19:13:34.554535+00:00,2025-04-06 19:13:34.555481+00:00,2023-06-07,2023-12-05,2
4,3,11.550035,POINT (9.20981 41.41797),"MULTIPOLYGON (((9.20656 41.4161, 9.20656 41.41...",2025-04-06 19:13:34.554535+00:00,2025-04-06 19:13:34.555481+00:00,2021-01-13,2023-03-15,3
...,...,...,...,...,...,...,...,...,...
267957,239739,1.220009,POINT (-1.74971 43.36256),"MULTIPOLYGON (((-1.74965 43.36106, -1.74965 43...",2025-04-06 19:13:34.554535+00:00,2025-04-06 19:13:34.555481+00:00,2020-03-13,2021-05-30,239739
267958,239741,4.690016,POINT (-1.74045 43.3506),"MULTIPOLYGON (((-1.74428 43.34985, -1.74428 43...",2025-04-06 19:13:34.554535+00:00,2025-04-06 19:13:34.555481+00:00,2019-03-25,2021-03-31,239741
267959,239740,1.100006,POINT (-1.74081 43.35418),"MULTIPOLYGON (((-1.74062 43.35343, -1.74062 43...",2025-04-06 19:13:34.554535+00:00,2025-04-06 19:13:34.555481+00:00,2024-05-03,2024-07-26,239740
267960,239742,0.820007,POINT (-1.7513 43.37951),"MULTIPOLYGON (((-1.75127 43.37919, -1.75127 43...",2025-04-06 19:13:34.554535+00:00,2025-04-06 19:13:34.555481+00:00,2020-05-12,2021-07-12,239742
267961,239743,1.810011,POINT (-1.72833 43.37893),"MULTIPOLYGON (((-1.72982 43.37833, -1.72982 43...",2025-04-06 19:13:34.554535+00:00,2025-04-06 19:13:34.555481+00:00,2024-03-11,2024-07-25,239743

In [20]:
# INSERT them in the database
clear_cuts.to_postgis(
    "clear_cuts", con=engine, if_exists="append", index=False, chunksize=10000
)

In [21]:
# Update the sequence for the SERIAL column so that it doesn't generate an ID that already exists
with engine.connect() as conn:
    conn.execute(text("SELECT setval('clear_cuts_id_seq', (SELECT MAX(id) FROM clear_cuts))"))
    print(conn.execute(text("SELECT currval('clear_cuts_id_seq')")).scalar())

255657

In [22]:
# Check the result
gpd.read_postgis(
    "SELECT * FROM clear_cuts LIMIT 10", con=engine, geom_col="boundary", crs="EPSG:4326"
)

,id,area_hectare,location,boundary,created_at,updated_at,observation_start_date,observation_end_date,report_id
0,0,0.520004,0101000020E61000005453CC70EB68224080E67DD559B4...,"MULTIPOLYGON (((9.20494 41.40863, 9.20494 41.4...",2025-04-06 19:13:34.554535,2025-04-06 19:13:34.555481,2018-12-07,2019-02-17,0
1,1,0.520004,0101000020E610000032038F9528752240A477AA6D1BB4...,"MULTIPOLYGON (((9.22956 41.40726, 9.22956 41.4...",2025-04-06 19:13:34.554535,2025-04-06 19:13:34.555481,2019-12-01,2019-12-31,1
2,239744,0.060001,0101000020E6100000BCCCBD9FEC7422408D1A3FFD21B4...,"MULTIPOLYGON (((9.22814 41.40743, 9.2285 41.40...",2025-04-06 19:13:34.554535,2025-04-06 19:13:34.555481,2021-02-05,2021-02-05,239744
3,65,4.030032,0101000020E61000005F0533964CBE22400AD815E7B4D5...,"MULTIPOLYGON (((9.37169 41.66806, 9.37168 41.6...",2025-04-06 19:13:34.554535,2025-04-06 19:13:34.555481,2019-11-19,2020-02-11,65
4,402,9.710044,0101000020E6100000C89C69C04C3A22400B2CAE999F07...,"MULTIPOLYGON (((9.11514 42.06019, 9.11514 42.0...",2025-04-06 19:13:34.554535,2025-04-06 19:13:34.555481,2021-03-01,2021-03-19,402
5,2631,5.060019,0101000020E610000035D7B3426AED19400C544A580B9E...,"MULTIPOLYGON (((6.48263 43.23648, 6.48263 43.2...",2025-04-06 19:13:34.554535,2025-04-06 19:13:34.555481,2021-07-10,2024-06-11,2631
6,4190,5.520019,0101000020E610000018F8D28487A105403A24E8D678C7...,"MULTIPOLYGON (((2.70406 43.55725, 2.70406 43.5...",2025-04-06 19:13:34.554535,2025-04-06 19:13:34.555481,2021-02-08,2022-09-20,4190
7,2,0.920005,0101000020E6100000D6386F0442722240B1C6C33B5EB5...,"MULTIPOLYGON (((9.22223 41.41715, 9.22223 41.4...",2025-04-06 19:13:34.554535,2025-04-06 19:13:34.555481,2023-06-07,2023-12-05,2
8,3,11.550035,0101000020E610000021F7EAFC6B6B22402C431BEF7FB5...,"MULTIPOLYGON (((9.20656 41.4161, 9.20656 41.41...",2025-04-06 19:13:34.554535,2025-04-06 19:13:34.555481,2021-01-13,2023-03-15,3
9,4,2.760023,0101000020E610000002EE34CB0A6B22405881EC5DC9B9...,"MULTIPOLYGON (((9.20761 41.45008, 9.20761 41.4...",2025-04-06 19:13:34.554535,2025-04-06 19:13:34.555481,2019-02-04,2019-09-08,4

## Seed the `clear_cut_ecological_zoning` table

In [23]:
# Retrieve the generated `ecological_zoning_id`
ecological_zonings_ids = pd.read_sql(
    "SELECT code AS natura2000_code, id AS ecological_zoning_id FROM ecological_zonings",
    con=engine,
)
ecological_zonings_ids

     natura2000_code  ecological_zoning_id
0          FR9400591                     1
1          FR9402009                     2
2          FR9400608                     3
3          FR9400592                     4
4          FR9402015                     5
...              ...                   ...
1757       FR7212015                  1758
1758       FR7200753                  1759
1759       FR7212005                  1760
1760       FR7200756                  1761
1761       FR7212012                  1762

[1762 rows x 2 columns]

In [24]:
clear_cut_ecological_zoning = (
    sufosat.rename(columns={"clear_cut_group": "clear_cut_id"})
    .set_index("clear_cut_id")["natura2000_codes"]
    .dropna()
    .apply(ast.literal_eval)  # List of strings don't seem to be supported by FlatGeoBuf
    .explode()  # Explode the list of zones into individual rows
    .rename("natura2000_code")
).reset_index()
clear_cut_ecological_zoning

       clear_cut_id natura2000_code
0                49       FR9400588
1                65       FR9400606
2            239747       FR9400606
3                68       FR9402010
4                70       FR9400587
...             ...             ...
55311        235185       FR7200760
55312        239733       FR7200760
55313        239735       FR7200760
55314        239734       FR7200760
55315        239742       FR7200775

[55316 rows x 2 columns]

In [25]:
# Join the "natura2000_code" from Sufosat with the "ecological_zoning_id" from the database
clear_cut_ecological_zoning = clear_cut_ecological_zoning.merge(
    ecological_zonings_ids, on="natura2000_code"
).drop(columns="natura2000_code")
clear_cut_ecological_zoning

       clear_cut_id  ecological_zoning_id
0                49                    24
1                65                    15
2            239747                    15
3                68                    12
4                70                     9
...             ...                   ...
55311        235185                  1690
55312        239733                  1690
55313        239735                  1690
55314        239734                  1690
55315        239742                  1688

[55316 rows x 2 columns]

In [26]:
# TODO: we don't have "area_hectare" for each zone in the dataeng model
# Anyways this field wouldn't be useful as we cannot sum it since some ecological zones overlap
clear_cut_ecological_zoning["area_hectare"] = 0
clear_cut_ecological_zoning

       clear_cut_id  ecological_zoning_id  area_hectare
0                49                    24             0
1                65                    15             0
2            239747                    15             0
3                68                    12             0
4                70                     9             0
...             ...                   ...           ...
55311        235185                  1690             0
55312        239733                  1690             0
55313        239735                  1690             0
55314        239734                  1690             0
55315        239742                  1688             0

[55316 rows x 3 columns]

In [27]:
clear_cut_ecological_zoning.to_sql(
    "clear_cut_ecological_zoning", con=engine, if_exists="append", index=False
)

316

In [28]:
# Check the result
pd.read_sql("SELECT * FROM clear_cut_ecological_zoning LIMIT 10", con=engine)

   clear_cut_id  ecological_zoning_id  area_hectare
0            49                    24           0.0
1            65                    15           0.0
2        239747                    15           0.0
3            68                    12           0.0
4            70                     9           0.0
5            71                     9           0.0
6           212                    27           0.0
7           219                    25           0.0
8           272                    36           0.0
9           273                    36           0.0